body {
    font-family: "Segoe UI", sans-serif;
    background: rgb(50, 50, 50);
    padding: 0px 20px;
    color: white;
    z-index: 0;
}

#main-heading {
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 60px;
    font-size: 60px;
    color: rgb(154, 205, 50);
    text-align: left;
}

h2, h3 {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 16px;
}

::-webkit-scrollbar-track {
    background-color: rgb(65, 65, 65);
    border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(154, 205, 50);
    border-radius: 12px 12px 12px 12px;
}

.nav {
    list-style-type: none;
    text-align: end;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

li a:hover, #burger-menu:hover {
    color: rgb(154, 205, 50);
}

#burger-menu {
    display: none;
    cursor: pointer;
}

#mobile, #rezept {
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
}

#mobile-content {
    padding: 5px 40px;
    font-size: 60px;
    margin-top: 20px;
}

#mobile-menu ul {
    list-style-type: none;
    text-align: center;
    margin-top: 30px;
    padding: 0;
}

#mobile-menu ul li a {
    font-size: 50px;
}

#rezept-container {
    margin-top: 20px;
    padding: 5px 40px;
}

#rezept-content {
    max-width: 800px;
    margin: 30px auto;
    background-color:rgb(65, 65, 65);
    border-radius: 30px;
    padding: 60px;
}

.image {
    max-width: 740px;
    height: 740px;
    margin: 0 auto;
}

#rezept-bild {
    height: inherit;
    max-width: inherit;
    border-radius: 30px;
}

#rezept-name {
    margin: 50px 0;
}

.rezept-spalten {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}

.zutaten, .zubereitung {
    background-color: rgb(220, 255, 149);
    color:rgb(65, 65, 65);
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.zutaten li:nth-child(even), .zubereitung li:nth-child(even) {
    color:rgb(93, 75, 128);
}

.zutaten:hover, .zubereitung:hover {
    background-color:rgb(154, 205, 50);
    transition: all 0.5 ease;
}

#close {
    height: 50px;
    width: 50px;
    margin-left: auto;
}

#close button {
    background-color: rgb(154, 205, 50);
    border-radius: 25px;
    border: none;
    font-size: 40px;
    font-weight: bold;
    color: rgb(50, 50, 50);
    transition: all 0.5s ease;
    cursor: pointer;
    height: inherit;
    width: inherit;
}

#close button:hover {
    background-color: rgb(220, 255, 149);
}

.content {
    max-width: 500px;
    margin: 30px auto;
    background-color: rgb(65, 65, 65);
    padding: 50px;
    border-radius: 30px;
}

input, textarea {
    background-color:rgb(220, 255, 149);
    border: none;
    width: 100%;
    border-radius: 16px;
    padding: 12px 16px;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    outline: none;
}

input {
    height: 30px;
}

textarea {
    height: 200px;
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 15px;
    border-radius: 16px;
}

textarea::-webkit-scrollbar-track {
    background-color: rgb(39, 53, 35);
    border-radius: 0px 12px 12px 0px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(220, 255, 149);
    border-radius: 0px 12px 12px 0px;
}

input:focus, textarea:focus {
    background-color:rgb(154, 205, 50);
}

.button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#contact-btn {
    background-color:rgb(154, 205, 50);
    color: rgb(50, 50, 50);
    width: 200px;
    padding: 12px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#contact-btn:hover {
    background-color:rgb(220, 255, 149);
}

.rezepte {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 30px auto;
}

.card {
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    margin: 10px auto;
    background-color: rgb(65, 65, 65);
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    transition: width 2s ease;
}

.card:hover {
    width: 320px;
}

.thumbnail {
    height: 230px;
    overflow: hidden;
}

.description {
    color: rgb(154, 205, 50);
    padding: 5px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.description p {
    margin: 0;
    margin-top: 10px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 600px){
    #burger-menu {
        display: block;
        font-size: 70px;
    }

    #desktop-menu {
        display: none;
    }

    #close {
        height: 80px;
        width: 80px;
    }
    
    #close button {
        border-radius: 40px;
        font-size: 70px;
        height: inherit;
        width: inherit;
    }

    #rezept-name {
        font-size: 50px;
    }

    .image {
        max-width: 700px;
        height: 700px;
        margin: 0 auto;
    }
    
    #rezept-bild {
        height: inherit;
        max-width: inherit;
        border-radius: 30px;
    }

    .content {
        max-width: 800px;
    }

    .content p {
        font-size: 20px;
        margin: 10px 0;
    }

    #kontakt {
        margin-bottom: 50px;
    }
}

@media only screen and (device-width: 390px){
    #burger-menu {
        display: block;
        font-size: 100px;
    }

    #desktop-menu {
        display: none;
    }

    #close {
        height: 120px;
        width: 120px;
        position: fixed;
        bottom: 60px;
        left: 45%;
    }
    
    #close button {
        border-radius: 60px;
        font-size: 80px;
        height: inherit;
        width: inherit;
    }

    #mobile-menu {
        margin-top: 400px;
    }

    #mobile-menu ul li {
        padding: 50px 0;
    }

    #mobile-menu ul li a {
        font-size: 70px;
    }

    #main-heading {
        letter-spacing: 20px;
        line-height: 100px;
        font-size: 100px;
    }

    #rezept-name {
        font-size: 50px;
    }

    .image {
        max-width: 740px;
        height: 740px;
        margin: 0 auto;
    }
    
    #rezept-bild {
        height: inherit;
        max-width: inherit;
        border-radius: 30px;
    }

    .content {
        max-width: 800px;
    }

    #kontakt {
        margin-bottom: 100px;
        font-size: 60px;
    }

    .content p {
        font-size: 40px;
        margin: 20px 0;
    }

    input {
        height: 80px;
        border-radius: 40px;
        font-size: 40px;
        padding-left: 30px;
    }

    textarea {
        height: 500px;
        border-radius: 40px;
        font-size: 40px;
    }

    .card {
        min-width: 800px;
        max-width: 800px;
        height: 800px;
        margin: 30px auto;
    }

    .thumbnail {
        height: 630px;
    }
    
    .description {
        padding: 5px 0px;
        text-align: center;
        font-weight: bold;
        font-size: 70px;
    }
    
    .description p {
        margin: 0;
        margin-top: 20px;
    }

    .button {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    #contact-btn {
        width: 400px;
        height: 100px;
        padding: 12px;
        border-radius: 50px;
        font-size: 50px;
        margin-top: 50px;
    }

    textarea::-webkit-scrollbar {
        width: 30px;
        border-radius: 30px;
    }
    
    textarea::-webkit-scrollbar-track {
        background-color: rgb(39, 53, 35);
        border-radius: 0px 30px 30px 0px;
    }
    
    textarea::-webkit-scrollbar-thumb {
        background-color: rgb(220, 255, 149);
        border-radius: 0px 30px 30px 0px;
    }
}

@media only screen and (device-width: 428px){
    #burger-menu {
        display: block;
        font-size: 100px;
    }

    #desktop-menu {
        display: none;
    }

    #close {
        height: 120px;
        width: 120px;
        position: fixed;
        bottom: 60px;
        left: 45%;
    }
    
    #close button {
        border-radius: 60px;
        font-size: 80px;
        height: inherit;
        width: inherit;
    }

    #mobile-menu {
        margin-top: 400px;
    }

    #mobile-menu ul li {
        padding: 50px 0;
    }

    #mobile-menu ul li a {
        font-size: 70px;
    }

    #main-heading {
        letter-spacing: 20px;
        line-height: 100px;
        font-size: 100px;
    }

    #rezept-name {
        font-size: 50px;
    }

    .image {
        max-width: 740px;
        height: 740px;
        margin: 0 auto;
    }
    
    #rezept-bild {
        height: inherit;
        max-width: inherit;
        border-radius: 30px;
    }

    .content {
        max-width: 800px;
    }

    .content p {
        font-size: 40px;
        margin: 20px 0;
    }

    #kontakt {
        margin-bottom: 100px;
        font-size: 60px;
    }

    input {
        height: 80px;
        border-radius: 40px;
        font-size: 40px;
        padding-left: 30px;
    }

    textarea {
        height: 500px;
        border-radius: 40px;
        font-size: 40px;
    }

    .card {
        min-width: 800px;
        max-width: 800px;
        height: 800px;
        margin: 30px auto;
    }

    .thumbnail {
        height: 630px;
    }
    
    .description {
        padding: 5px 0px;
        text-align: center;
        font-weight: bold;
        font-size: 70px;
    }
    
    .description p {
        margin: 0;
        margin-top: 20px;
    }

    .button {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    #contact-btn {
        width: 400px;
        height: 100px;
        padding: 12px;
        border-radius: 50px;
        font-size: 50px;
        margin-top: 50px;
    }
}